body {
  background-image: linear-gradient(#ff77b8, #ffe586);
  background-attachment: fixed;
}

.terminal {
  margin-top: 150px;
}

.block {
  width: 800px;
  height: 320px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: auto;
  background-color: #000000;
  border: 0px solid red;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.bar {
  background-color: #e4e4e4;
  color: #030303;
  width: 840px;
  text-align: center;
  margin: auto;
  clear: both;
  font-size: 100%;
  border-radius: 7px 7px 0px 0px;
  border-bottom: 1px solid #7e7e7e;
  display: flex;
}

#dots {
  margin: 5px;
  display: flex;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.red {
  background: #ff615c;
}

.orange {
  background: #ffbc47;
}

.green {
  background: #00c850;
}

.column {
  float: left;
  width: 22%;
  padding: 10px;
  height: 380px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* unvisited link */
a:link {
  color: #ffffff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #ff77b8;
}

/* mouse over link */
a:hover {
  -webkit-animation: zomg 2.5s infinite;
  animation: zomg 2.5s infinite;
}

@-webkit-keyframes zomg {
  0%,
  100% {
    color: #ff77b8;
  }
  16% {
    color: #ffe586;
  }
  32% {
    color: #7ccdea;
  }
  48% {
    color: #ff77b8;
  }
  64% {
    color: #ffe586;
  }
  80% {
    color: #7ccdea;
  }
}
@keyframes zomg {
  0%,
  100% {
    color: #ff77b8;
  }
  16% {
    color: #ffe586;
  }
  32% {
    color: #7ccdea;
  }
  48% {
    color: #ff77b8;
  }
  64% {
    color: #ffe586;
  }
  80% {
    color: #7ccdea;
  }
}
